@model GestionDeStockCusHabitat.ViewModel.SortieViewModel
@using GestionDeStockCusHabitat.Models

@{
    ViewBag.Title = "Sortie d'un article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sortie d'un article</h2>
@using (Html.BeginForm("SortirUnArticle", "Sortie"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.NomArticle)
        @Html.DropDownListFor(a => a.NomArticle, Model.ArticleList, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.QteArticle)
        @Html.TextBoxFor(a => a.QteArticle, new { @class = "form-control", pattern = @"\d{*}" })
    </div>
    <div class="form-group">
        @Html.LabelFor(a => a.ClientList)
        @Html.DropDownListFor(a => a.ClientId, Model.ClientList, new {@class = "form-control"})
    </div>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-primary">Valider la sortie</button>
}