@using GestionDeStockCusHabitat.Models
@model GestionDeStockCusHabitat.Models.Entree

@{
    ViewBag.Title = "Entree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entree</h2>
@using (Html.BeginForm("Create", "Entree"))
{
    <div class="form-group">
        @Html.LabelFor(e => e.NomArticle)
        @Html.TextBoxFor(e => e.NomArticle, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.QteArticle)
        @Html.TextBoxFor(e => e.QteArticle, new { @class = "form-control", pattern=@"\d{*}" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.Categorie)
        @Html.TextBoxFor(e => e.Categorie, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(e => e.DateTime)
        @Html.TextBoxFor(e => e.DateTime,"{0:d MMM yyyy}", new { @class = "form-control", placeholder="Date d'ajout", required="Requis", pattern=@"\d{2}/\d{2}/\d{4}" })
    </div>
    @Html.HiddenFor(e => e.Id)
    <button type="submit" class="btn btn-primary">Ajouter</button>
}