@model List<GestionDeStockCusHabitat.Models.Entree>

@{
    ViewBag.Title = "Entrees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Les Entrées</h2>

@*Retourne sous forme de tableau les données présentent dans la table Entree
    Model fait réference au @model List<GestionDeStockCusHabitat.Models.Entree>*@
@if (!Model.Any())
{
    <p>Pas d'articles entrées</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nom de l'article</th>
            <th>Quantité</th>
            <th>Catégorie</th>
            <th>Heure et date d'entrée</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var entrees in Model)
        {
            <tr>
                <td>@entrees.NomArticle</td>
                <td>@entrees.QteArticle</td>
                <td>@entrees.Categorie</td>
                <td>@entrees.DateTime.ToShortTimeString() - @entrees.DateTime.ToShortDateString()</td>
            </tr>
        }
        </tbody>
    </table>
}
@Html.ActionLink("Ajouter une nouvelle entrée","Ajouter","Entree", new {@class = "btn btn-primary"})